__pycache__/
*.py[cod]
*.egg-info/
build/
dist/
.venv/
venv/
*.deb
*.changes
*.buildinfo
debian/files
debian/.debhelper/
debian/*-stamp
debian/*.log
debian/*.substvars
debian/*.debhelper
apt-repo/*.deb
apt-repo/Packages*
apt-repo/InRelease
apt-repo/Release*
